.chat{
    flex: 0.65;
    display: flex;
    flex-direction: column;
}

.chat_header{
    padding:20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;

}

.chat_receiver{
    margin-left:auto;
    background-color:aquamarine;
}

.chat_headerInfo{
    flex: 1;
    padding-left: 20px;
    
}

.chat_headerInfo > h3{
    margin-bottom: 5px;
    font-weight: 500;
}


.chat_body{
    flex: 1;
    padding: 30px;
    overflow: scroll;
}

.chat_message{
    position: relative;
    padding: 10px;
    background-color: #ffffff;
    width: fit-content;
    border-radius: 10px ;
}